<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>sudoku</title>
</head>

<body>

    <div class="container">
        <nav class="navbar navbar-light bg-light mt-2">
            <div class="container">

                SUDOKU

            </div>
        </nav>
    </div>
    <style>
        .rows {
            display: flex;
            flex-grow: 1;
            justify-content: center;
        }

        .square {
            width: 60px;
            height: 60px;
            display: flex;
        }

        .numb {
            margin: auto;
            display: flex;
            font-size: 2em;
            font-weight: 700;
        }
    </style>

    <div class="container mt-4">
        <div id="app" class="wrapper">
            <div class="rows" v-for="lines in square">
                <div class="square border" v-for="dot in lines">
                    <span v-if="dot==null" class="numb"> </span>
                    <span v-else class="numb">{{ dot }}</span>
                </div>
            </div>
            <button v-on:click="run" type="button" class="btn btn-primary btn-lg">RUN</button>
            <button v-on:click="reset" type="button" class="btn btn-primary btn-lg">Reset</button>
        </div>
    </div>

    <div class="container">

    </div>

</body>



<!-- версия для разработки, отображает полезные предупреждения в консоли -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>
<script src="./src/js/script.js"></script>

</html>